html, body {
      margin: 0;
      padding: 0;
      width: 100%;
          overflow-x: hidden;
}
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic&subset=devanagari,latin,latin-ext);
body {
      font-family: 'Poppins', sans-serif;
      font-weight: lighter;
          overflow-x: hidden;

}

/*header {
      width: 100%;
      height: 100vh;
      background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%;
      background-size: cover;
}*/
.top_header {
    /* background-color: #f4615b; */
    border-bottom: 1px solid #f4615b;
    padding: 5px 0;
    background-image: linear-gradient( #ae2a22, #f4615b);
}

.mail_detail {
    float: right;
}
.numb_detail ul {
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    background-color: transparent !important;
    box-shadow: none;
}
.numb_detail ul li {
    padding: 0 10px;
    float: left;
    list-style: none;
    border: none;
    border-right: 1px solid #f07671 ;
}

/*dropdown*/

.dropbtn {
    background-color: transparent;
    color: #2f2f2f;
    border: none;
}

.dropdown {
    position: relative;
    text-align: center;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 105%;
}

.dropdown-content a {
    color: black;
    padding: 5px 0 5px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 30px;
}
.dropbtn i {
    color: #282727;
    width: auto;
    font-size: 10px;
    font-weight: 300;
    padding: 0;
    position: relative;
    top: -2px;
    left: 2px;
    margin: 0px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/*dropdown end*/


.numb_detail ul li:last-child {
    border: none;
}
.numb_detail ul li:hover {
    border-bottom: none;
}
.numb_detail ul li p {
    margin: 0px 0 0px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0 10px;
        float: right;
}
.numb_detail i {
    float: left;
    margin: 0px;
    padding: 0px;
}
.numb_detail i.fa.fa-whatsapp {
    color: #fff;
}
.numb_detail i.fa.fa-envelope-o {
    color: #fff;
}
.numb_detail i {
    float: left;
    margin: 2px 5px 0 0;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    width: auto;
}
.numb_detail i.fa.fa-mobile {
    color: ##fff;
    font-size: 18px;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
    line-height: 0px;
    position: fixed;
    float: left;
    margin: 0px 0 0 40px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
.logo img {
    width: 175px;
}



nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      top: 0px;
      z-index: 9;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    /*overflow: hidden;*/
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    background-color: #ffffffb0;
    box-shadow: 0px 2px 5px 0px #dedede;
}

nav.black ul {
      background: #fff;
}

nav ul li {
    display: inline-block;  
        padding: 5px 0;
        border-bottom: 5px solid transparent;
}
nav ul li:hover {    
    color: #f4615b;
    border-bottom: 5px solid #ae2a22;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 12px;
}
nav ul li a:hover {
    text-decoration: none;
    color: #ae2a22;
    
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}


/*home slider*/

.home_slider {
  width: 100%;
  height: 100vh;
  background-image: url();
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./../images/banner.jpg);
}
.slide-image-one {
  background-image: url(./../images/banner-1.jpg);
}
.slide-image-two {
  background-image: url(./../images/banner-2.jpg);
}
.slide-image-three {
  background-image: url(./../images/banner-3.jpg);
}
.slide-image::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0;
    background-color: #00000038;
}
.slide-title {
  font-size: 4rem;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #FFF;
  z-index: 100;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 7vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all .3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all .3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}

/*about*/

.about {
    width: 100%;
    float: left;
    margin: 5% 0 0;
        height: auto;
}
h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 30px;
    color: #3a3a3a;
        position: relative;
}
h1 span {
    font-size: 40px;
    color: #ae2a22;
}


h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    /*background-color: #ae2a22;*/
        background-image: linear-gradient(#ae2a22, #f4615b);
    width: 80px;
    height: 5px;
}
.about_left p {
    margin: 0px;
    font-size: 13px;
    line-height: 23px;
    padding: 0 10% 0 0;
        font-weight: 400;
}
.about_right {
    position: relative;
}
.about_right::after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;
    right: 0;
    top: -25px;
    border: 5px solid #ae2a22;
    width: 100%;
    height: 100%;
    z-index: -1;
}



.about_right img {
    width: 100%;
}
.button {
    border-radius: 4px;
    /*background-color: #f4615b;*/
    background-image: linear-gradient( #ae2a22, #f4615b);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    width: 150px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0 0;
    font-weight: 400;
}
.button:hover {
    /*background-color: #ae2a22;*/
    background-image: linear-gradient(#f4615b, #ae2a22);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*services*/

.services {
    width: 100%;
    float: left;
    margin: 5% 0 0;
        height: auto;

}
.services-header {
    text-align: center;
}
.services-header p {
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
    padding: 0px 20%;
}
.career_box {
    margin: 5% 0 0 !important;
    background-image: linear-gradient( #ae2a22, #f4615b);
    color: #fff;
}
.career_box p {
    font-size: 15px;
    line-height: 25px;
}
.services-header h1::after{
    margin: 0 auto;
}
.service_background {
    background-image: url(./../images/services-background.jpg);
    width: 100%;
    float: left;
    padding: 50px 0;
    position: relative;
        background-size: cover;
}
.contant_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc7;
}
.service_contant {
    text-align: center;
    /* background-color: #fff; */
    padding: 35px 10px;
    border-radius: 0px;
    /* transition: transform 1.1s; */
    margin: 0 auto;
    width: 100%;
    float: left;
}
.service_contant_second {
    border-left: 2px solid #f05e58;
    border-bottom: 2px solid #f05e58;
    padding-left: 35px;
        margin: 0 0 0 20px;

}
.service_contant_third {
    border-top: 2px solid #f05e58;
    border-right: 2px solid #f05e58;
    padding-left: 35px;
    margin: 20px 0 0 0px;
}
.service_contant_four {
    /*border-top: 2px solid #f05e58;
    border-left: 2px solid #f05e58;
    margin: 20px 0 0 20px;*/
     padding-left: 35px;
}
.service_contant:hover .service_left {
    border-color: #a1a1a1;
}

.zero_padding {
    padding: 0px;
}
/*.service_contant:hover {
    transform: scale(1.1);
    border: 1px solid #f4615b;
}*/
.service_contant .service_left {
    float: left;
    width: 85px;
    border: 2px solid #f05e58;
    border-radius: 100%;
    height: 85px;
    padding: 15px;
}
.service_contant .service_right {
    float: right;
    width: 80%;
        text-align: left;

}
.service_contant img {
    width: 100%;
    margin: 0 auto;
}
.service_contant:hover.service_contant img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.service_contant h2 {
    margin: 0px 0;
    font-size: 20px;
    font-weight: 600;
}
h2 span {
    color: #ae2a22;
    font-size: 30px;
}
.service_contant p {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
}

.arrow-down2 {
    width: 0;
    height: 0;
    border-left: 800px solid transparent;
    border-right: 700px solid transparent;
    border-top: 30px solid #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    right: 0;
    bottom: 0;
}
.service_contant .button {
    width: 100px;
    height: 30px;
    font-size: 12px;

}




/*the matrix solution*/

.solution_contant h2 {
    margin: 0px 0 10px;
    font-size: 30px;
    font-weight: 600;
    color: #3a3a3a;
}
.solution_contant p {
    margin: 0px;
    font-size: 13px;
        font-weight: 400;

}
/*.rfid_solution {
    text-align: center;
    box-shadow: 0px 0px 10px 0px #f35b546b;
    margin: 0% 0 0%;
    padding: 20px 0;
        border-radius: 6px;
            background-color: #ef5d57;

}*/
/*.rfid_solution h3 {
    font-size: 18px;
    font-weight: 600;
        margin: 15px 0 0;
    padding: 0;
        color: #fff;
}*/



.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px;
    margin: 30px 0 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
      text-align: center;
    box-shadow: 0px 0px 10px 0px #f35b546b;
    margin: 0% 0 0%;
    padding: 20px 0;
    border-radius: 0px;
    /*background-color: #ef5d57;*/
        background-image: linear-gradient(#ae2a22, #f4615b);
}
.flip-card-back button {
    width: 85%;
    height: 40px;
    border-radius: 0px;
}
.flip-card-back {
    transform: rotateY(180deg);
    padding: 45px 0 0;
    background-color: rgb(229, 229, 229);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: rgb(255, 255, 255);
}

.flip-card-back p {
    color: #3a3a3a;
    font-weight: 500;
}
.flip-card-front h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0;
    padding: 0;
    color: #fff;
}
.matrix_solution {
    /* background-color: #eee; */
    /*padding: 25px 0;*/
    
}
.matrix_background {
    background-image: url(./../images/bkgd_lines.jpg);
    background-repeat: repeat;
    padding: 50px 0;
    position: relative;
    width: 100%;
}

/*portfolio*/


.portfolio {
    width: 100%;
    float: left;
    margin: 5% 0 0;
}
.portfolio_background {
    background-image: url(./../images/portfolio_back.jpg);
    width: 100%;
    float: left;
    padding: 50px 0;
    position: relative;
    background-size: cover;
}

.hovereffect {
    width: 100%;
    height: 300px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
        border-radius: 6px;

}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.portfolio_button {
    width: 100%;
    text-align: center;
    margin: 4% 0 0;
}


/*get-in-touch*/


.get_in_touch {
    width: 100%;
    float: left;
    margin: 5% 0 0;
        position: relative;

}
.getin_left p {
    font-size: 13px;
    font-weight: 400;
    margin: 6px 0 0;
    padding: 0 50% 0 0;
}
.getin_left i {
    color: #f4615b;
    font-size: 15px;
    font-weight: 600;
    width: auto;
    margin: 0 10px 0 0;
    padding: 0px;
}
.contact_detail {
    margin: 5% 0 0;
}
.getin_form {
    padding: 10% 50px;
    box-shadow: 0px 0px 10px 0px #f4615bb8;
    border-radius: 6px;
    position: absolute;
    width: 100%;
    background-color: #fff;
        z-index: 1;

}
.getin_form button {
    width: 100%;
    margin: 20% 0 0;
}
.getin_form input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0px;
    color: #dedede;
}
.getin_form input:focus {
    outline: none;
    box-shadow: none;
    border-color: #f4615b;
}
.getin_form textarea {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0px;
    color: #dedede;
    width: 100% !important;
}
.getin_form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #f4615b;
}
.getin_form h2 {
    margin: 0 0 30px;
    font-size: 25px;
    font-weight: 600;
    color: #ae2a22;
}



/**********about page css***********/

.banner {
    background-image: url(./../images/pages-banner.jpg);
    padding: 15% 0;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ae2a2278;
}
.banner_text h4 {
    width: 100%;
    float: left;
    margin: 0px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.about_ceo_main {
      width: 100%;
      float: left;
      margin: 5% 0 0;
}
.about_ceo {
    padding: 30px 0;
        position: relative;
}
.about_ceo_left img {
    width: 80%;
    border-radius: 100%;
}
.about_ceo_fight {
    padding: 30px 0;
}
.about_ceo_fight p {
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}
.other_cmnts_left {
    margin: 0 0 30px;
    border: 1px solid #fbbebb;
    padding: 15px 20px;
    border-radius: 6px;
}
.other_cmnts {
    width: 100%;
    float: left;
    margin: 5% 0 0;
}
.other_cmnts_left h2 {
    margin: 0px 0 10px;
    font-size: 20px;
    font-weight: 600;
}
.other_cmnts_left p {
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}



/*time and attandance css*/

.ta_product_left h3 {
    text-align: center;
    margin: 0px;
    font-size: 30px;
    font-weight: 600;
    color: #191919;
}
.ta_product_left {
    text-align: center;
    float: left;
}

.ta_btn button {
    width: 100%;
    border-radius: 0px;
    height: 60px;margin: 0px;
}
.ta_product_left img {
    width: auto;
    height: 200px;
    margin: 15px 0;
}
.ta_product_left {
    text-align: center;
    float: left;
    padding: 40px 0 0;
    box-shadow: 0px 0px 10px #eb5b557a;
    margin: 5% 0 0;
    width: 100%;
}

/*product detail*/

.products-detail_main .products-detail_left {
    text-align: center;
    box-shadow: inset 0px 0px 7px #ed5e5870;
    background-color: #f1f1f1;
}
.products-detail_right p {
    margin: 0 0 1px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    float: left;
    padding: 2px 10px;
    background-color: #f1f1f1;
}

.products-detail_right span.span_right {
    border-left: 1px solid #e7565069;
    padding: 0 0 0 10px;
}
.products-detail_right span {
    width: 50%;
    float: left;
}
.products-detail_right span.left_span {
    font-weight: 600;
}
.products-detail_left p {
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
    color: #fff;
    padding: 10px 0;
    background-image: linear-gradient( #ae2a22, #f4615b);
}
.products-detail_left img {
    width: auto;
    height: 250px;
    margin: 50px 0;
}
.products-detail_main {
    float: left;
    margin: 0px 0 0;
    background-image: url(./../images/bkgd_lines.jpg);
    background-repeat: repeat;
    padding: 80px 0;
    position: relative;
    width: 100%;
}







/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 160px;
      background-color: #3b5998;
}

.float-tw {
  top: 215px;
      background-color: #00acee;
}

.float-gp {
  top: 270px;
  background-color: #db4a39;
}

.float-rs {
  top: 325px;
      background-color: #ee802f;

}

.float-ig {
    top: 380px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.float-pn {
  top: 435px;
      background-color: #c8232c;

}
/* Floating Social Media Bar Style Ends Here */











/*footer*/


footer {
    width: 100%;
    float: left;
    /*background-color: #ae2a22;*/
    padding: 5% 0 0%;
    margin: 5% 0 0;
    background-image: linear-gradient(#ae2a22, #f4615b);
}
/*.social ul{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;
display: flex;
padding: 0px;
margin: 0px;

}
.social ul li{
list-style: none;
margin: 0 20px;

}
.social {
    margin: 40% 0 0;
}
.social ul li .fa {
    font-size: 20px;
    color: #262626;
    line-height: 35px;
    transition: .5s;
    padding: 0;
    margin: 0px;
}
.social ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 32px;
    background-color: #fff;
    text-align: center;
     transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0); 
    transition: .5s;
    box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
}
.social ul li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 102%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
.social ul li a::after {
    content: "";
    position: absolute;
    top: 32px;
    left: -11px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
.social ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social ul li:hover .fa{
color: #fff;
}
.social ul li a:hover{
transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
}
.social ul li:hover:nth-child(1) a{
background: #3b5999;
}

.social ul li:hover:nth-child(1) a:before{
background: #2e4a86;
}
.social ul li:hover:nth-child(1) a:after{
background: #4a69ad;
}
.social ul li:hover:nth-child(2) a{
background: #55acee;
}
.social ul li:hover:nth-child(2) a:before{
background: #4184b7;
}
.social ul li:hover:nth-child(2) a:after{
background: #4d9fde;
}
.social ul li:hover:nth-child(3) a{
background: #dd4b39;
}

.social ul li:hover:nth-child(3) a:before{
background: #c13929;
}
.social ul li:hover:nth-child(3) a:after{
background: #e83322;
}

.social ul li:hover:nth-child(4) a{
background: #0077B5;
}

.social ul li:hover:nth-child(4) a:before{
background: #036aa0;
}
.social ul li:hover:nth-child(4) a:after{
background: #0d82bf;
}

.social ul li:hover:nth-child(5) a{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.social ul li:hover:nth-child(5) a:before{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.social ul li:hover:nth-child(5) a:after{
background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}*/
.footer-left h2 {
    color: #fff;
    margin: 0 0 0;
}
.footer-left p {
    margin: 20px 0 0;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    padding: 0 20% 0 0;
    line-height: 22px;
}
.social h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 20px;
}
p.copyright {
    color: #e4e4e4;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    padding: 10px 0;
    margin: 5% 0 0;
}

.scrollup {
    font-size: 20px;
    color: #fff;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 6px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background-image: linear-gradient( #ae2a22, #f4615b);
}
.scrollup i {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.scrollup:hover {
    background-image: linear-gradient( #f4615b, #ae2a22);
}


/*faq css*/

.faq_question h3 {
    font-size: 20px;
    margin: 50px 0 20px 0;
}

.faq_question p {
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}


/*solutions css*/

.Asset_management p {
    font-weight: 400;
    font-size: 15px;
}
.access_control {
    width: 100%;
}

/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
    font-size: 15px;
    background-image: linear-gradient( #ae2a22, #f4615b);
}

   .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
    .panel-body p {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 500;
}
.panel-group {
    box-shadow: 0px 0px 9px #e2524c8f;
    padding: 15px;
    margin: 30px 0;
}
.panel-title i {
    margin: 0px;
    float: right;
    height: auto;
    line-height: 0px;
    font-size: 14px;
}



/* ----- v CAN BE DELETED v ----- */


/***** media *****/



@media screen and (max-width: 1200px) and (min-width: 1000px)
{
nav ul li a {font-size: 13px; padding: 40px 25px;}
.about_left p {font-size: 12px; line-height: 20px; padding: 0 0% 0 0;}
.solution_contant p {font-size: 12px;}
.service_contant p {font-size: 12px;}
.getin_left p {font-size: 12px;}
.footer-left p {font-size: 12px;}
.getin_form input{font-size: 12px;}
.getin_form textarea{font-size: 12px;}
}

@media screen and (max-width: 999px) and (min-width: 678px)
{

}